<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="menu">
        <a href="/"><div class="menuButton">Strona główna</div></a>
        <a href="/open"><div class="menuButton">Lista przetargów</div></a>
        <a href="/closed"><div class="menuButton">Lista zakończonych przetargów</div></a>
        <a href="/add"><div class="menuButton">Dodaj przetarg</div></a>
    </div>
    <div id="content">
