
<%- include('header'); -%>

<div id="content">
  <h1>Strona główna</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat cursus consectetur. In rhoncus lacus et pellentesque dapibus. Maecenas ornare pellentesque urna a laoreet. Phasellus maximus dui et enim condimentum rutrum. Sed tincidunt, sapien vitae varius interdum, ante tortor tristique tellus, et dapibus tortor leo sit amet sapien. Proin eu pulvinar est. Donec nec ex ut tortor egestas condimentum. Fusce et placerat quam, id blandit lectus. Nunc sagittis leo quis urna accumsan, sit amet mollis risus fermentum. Proin gravida malesuada eros, quis laoreet quam porttitor et.</p>
  <p>Sed ornare volutpat velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tristique eu tellus ac consequat. Suspendisse imperdiet nibh et erat porta pretium. Suspendisse potenti. Integer rhoncus lectus neque, id molestie nibh gravida ut. Vivamus eu risus fermentum, sagittis turpis in, pellentesque felis. Suspendisse hendrerit, nulla id gravida maximus, arcu felis dapibus urna, in finibus nunc nulla nec purus.</p>
</div>

<%- include('footer'); -%>
