
<%- include('header'); -%>

<div id="content">
  <h1>Strona główna</h1>
  <p>Jest to aplikacja pozwalająca dodawać przetargi i przeglądać otwarte i zamknięte przetargi. Gdy przetarg jest otwarty umożliwia dodawanie ofert, a gdy przetarg jest zamknięty każdy użytkownik może przeglądać dodane oferty.</p>
  <p>Autorem aplikacji jest <b>Wojciech Makosiej</b></p>
  <p>Aplikacja została stworzona w celach edukacyjnych jako projekt indywidualny z przedmiotu projektowanie aplikacji internetowych 2024</p>
</div>

<%- include('footer'); -%>
